name: trivy

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  schedule:
    - cron: '39 3 * * 0'

permissions:
  contents: read
  packages: read
  security-events: write
  actions: read

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  # Set the default distribution
  DISTRO: python

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      distributions: ${{ steps.set-distro.outputs.distributions }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set distributions
        id: set-distro
        run: |
          echo "distributions=$(find . -name "Dockerfile" | jq -R -s -c 'split("\n")[:-1]' | \
          sed 's|./distribution/\([^/]*\)/Dockerfile|distribution/\1|g')" >> $GITHUB_OUTPUT

  scan_security:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: ${{ fromJson(needs.prepare.outputs.distributions) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set arguments for the build
        id: set-args
        run: |
          echo "IMAGE_NAME=${{ github.repository }}-$(basename ${{ matrix.distro }})" >> $GITHUB_ENV
          echo "DISTRO=$(basename ${{ matrix.distro }})" >> $GITHUB_ENV

      - name: Create scan directory
        run: mkdir -p scan-results

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "image"
          image-ref: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest"
          format: "sarif"
          output: "scan-results/trivy-results-${{ env.DISTRO }}.sarif"
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "scan-results/trivy-results-${{ env.DISTRO }}.sarif"
